<a mat-list-item [ngStyle]="{'padding-left': (1 * 12) + 'px'}" class="menu-list-item" (click)=onItemSelected()
class="menu-list-item">
    <mat-icon class="routeIcon">videocam</mat-icon>
    {{item.label}}
    <span fxFlex>
      <span fxFlex></span>
      <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
        expand_more
      </mat-icon>
    </span>
</a>
<div *ngIf="expanded">
  <button mat-button (click)=delete()> Delete Stream </button>
  <button mat-button (click)=edit()> Edit Stream </button>
  <button mat-button> Share Stream </button>
  <button mat-button> Change Model </button>
</div>