<a mat-list-item class="menu-list-item">
  <mat-icon *ngIf="!isRecording" class="routeIcon">videocam</mat-icon>
  <mat-icon *ngIf="isRecording" style="color: red;" class="routeIcon">videocam</mat-icon>

  {{item.label}}

  <span fxFlex *ngIf="admin" style="width: 100%;">
    <span fxFlex></span>
    <mat-icon style="cursor:pointer;float: right;margin-right: 1rem;"
      [@indicatorRotate]="expanded ? 'expanded': 'collapsed'" (click)=onItemSelected()>
      expand_more
    </mat-icon>
  </span>
</a>
<div *ngIf="expanded && admin">
  <button mat-button (click)=delete()> Delete Stream </button>
  <button mat-button (click)=edit()> Edit Stream </button>
  <button mat-button (click)=share()> Share Stream </button>
  <button mat-button (click)=change()> Change Model </button>
</div>