
:host {
  display: flex;
  flex-direction: column;
  outline: none;
  width: 100%;
}

.mat-list-item {
  padding: 8px 0;
  display: flex;
  width: auto;

  .routeIcon {
    margin-right: 1rem;
  }
}

:host ::ng-deep .mat-list-item .mat-list-item-content {
  width: 100%;
}

.mat-list-item:hover  {
  background-color: #4CAF50; /* Green */
  color: white;
}
