.column-left{
    min-width: 200px;
    background-color: darkgrey; 
    height: 100%; 
    min-height: 100%;
    margin-right: 6px;
}

.column{
    background-color: darkgrey; 
    height: 100%;
}

.dual-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.example-container {
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: darkgray;
  }
