<h3 style="text-align: center;">Cameras</h3>

<ul>
    <div mat-list-item class="menu-list-item" *ngIf="role && role == 'admin'">
        <li class="list-group-item line">
            <span class="material-icons">
                add_circle
            </span>
            <button mat-button (click)="openCameraDialog()">
                Add new stream
            </button>
        </li>
    </div>
    <div mat-list-item class="menu-list-item" *ngIf="role && role == 'admin'">
        <li class="list-group-item line">
            <span class="material-icons">
                settings
            </span>
            <button mat-button (click)=openSettings()> Global settings </button>
        </li>
    </div>

    <app-menu-list-item style="cursor: pointer;" *ngFor="let stream of streams" [item]="stream"
        [isRecording]="isRecording(stream.camera_id)" (changeStream)="onClickStream($event)"
        [ngClass]="{'selected': currentStream === stream}">{{ stream.label }}>
    </app-menu-list-item>
</ul>