<h3 style="text-align: center;">Camera</h3>

<button mat-button style="width: 100%;" (click)="openCameraDialog()">
    <mat-icon>add_circle</mat-icon>
    <b>Add new stream</b>
</button>

<ul style="padding-left: 0%;">
    <app-menu-list-item style="cursor: pointer;" *ngFor="let stream of streams" [item]="stream"
        [isRecording]="isRecording(stream.camera_id)" (click)="onClickStream(stream)"
        [ngClass]="{'selected': currentStream === stream}">{{ stream.label }}>
    </app-menu-list-item>
</ul>