<h1 mat-dialog-title>Share this stream with:</h1>

<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="data.email">
  </mat-form-field>
</div>
<div *ngIf="failed" mat-dialog-content>
  <p style="color: red;">This person already has access to the camera</p>
</div>
<div mat-dialog-actions>
  <button mat-button [disabled]="requesting" (click)="save()" cdkFocusInitial>Share</button>
  <button mat-button (click)="close()">Close</button>
</div>