<h1>About {{ title }}</h1>
<br>

<p>
    {{ title }} is a software platform to manage active traffic cameras. It is developed by the group sw803f20 on Aalborg Univeritet as a student project.
</p>
<br>

<h2>Features</h2>
<p>
    This webpage consistst of the main pages, reachable in the header.
</p>
<br>

<h3>Viewing live streams from traffic cameras</h3>
<p>
    On the videoplayer page, you can watch live streams from all cameras that are active and you are given access to. 
</p>
<br>

<h3>Recording video from traffic cameras</h3>
<p>
    On the videoplayer page, you can choose a live stream and you can then record a video of a set length, with various options available. The video recorded will be available for download for a limited time on the download page after the recording has completed.
</p>
<p>
    You can only have one recording active at a time per camera.
</p>
<br>

<h3>Setting up new cameras</h3>
<p>
    As a user with rights to set up new cameras, this can be done on the setup camera page.
</p>
<p>
    You must give some information about the camera and you can give permission to view the video feed from the camera to individual users.
</p>
<br>

<h3>Adjusting global settings</h3>
<p>
    As administrator, there are multiple variables that can be tweaked on the settings page
</p>