<body class="about">
    <h1>About {{ title }}</h1>
    <br>

    <p>
        {{ title }} is a software platform to manage active traffic cameras. It is developed by the group sw803f20 on Aalborg Univerity as a student project.
    </p>
    <br>

    <h2>Features</h2>
    <p>
        All the features of this webpage are accessible from the main page.
    </p>
    <br>

    <h3>Viewing live streams from traffic cameras</h3>
    <p>
        On the main page, you can watch live streams from all cameras that are active and you are given access to. Make sure to be logged in to gain your access rights.
    </p>
    <br>

    <h3>Recording video from traffic cameras</h3>
    <p>
        You can choose a live stream and you can then record a video of a set length. The video recorded will be available for download for a limited time on the main page after the recording has completed.
    </p>
    <p>
        You can only have one recording active at a time per camera.
    </p>
    <br>

    <h3>Managing cameras</h3>
    <p>
        Cameras can be set up and the settings of current cameras can be adjusted by accessing the drop-down menu for the selected camera.
    </p>
    <br>
    <p>
        A camera can be deleted by accessing the drop-down menu for the camera on the main page.
    </p>
    <br/>
    <p>
        As a user with rights to set up new cameras, this can be done on the main page.
        You must give some information about the camera and you can give permissions to view the video feed to individual users.
    </p>
    <br>
    <p>
        You can update the machine learning model of the near-camera devices by selecting "Change Model" for a camera. Then upload the model file, and the near-camera device will change to the new model.
    </p>
    <br>

    <h3>Adjusting global settings</h3>
    <p>
        As an administrator the global settings of the system can be adjusted by accessing the settings menu on the main page.
    </p>
</body>