<h1 mat-dialog-title>Login</h1>
<div *ngIf="failedLogin" mat-dialog-content>
  <p style="color: red;">Failed Login</p>
</div>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email" [(ngModel)]="data.email">
  </mat-form-field>
</div>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput type="password" placeholder="Password" [(ngModel)]="data.password">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button [disabled]="requesting" (click)="awaitLogin()" cdkFocusInitial>Login</button>
  <button mat-button (click)="onNoClick()">Close</button>
</div>